<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_index.css') }}">
</head>
<body>
    <h1>Bienvenido al Sistema de Registro</h1>
    <nav>
        <ul>
            
            <li><a href="/inscripcion">Inscripción en curso</a></li>
            <li><a href="/registro_usuario">Registro de usuarios</a></li>
            <li><a href="/registro_productos">Registro de productos</a></li>
            <li><a href="/registro_libros">Registro de libros</a></li>
        </ul>
    </nav>
    
</body>
</html>
