<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_form.css') }}">
</head>
<body>
<div class="form-container">
<h2>Registro de productos</h2>
<form method="POST">
    <label for="producto">Producto:</label>
    <input type="text" name="producto" required><br>
    <label for="categoria">Categoría:</label>
    <select name="categoria">
        <option value="Categoría 1">Categoría 1</option>
        <option value="Categoría 2">Categoría 2</option>
    </select><br>
    <!-- <label for="existencia">Existencia:</label>
    <input type="number" name="existencia" required><br> -->

    <label for="existencia">Existencia:</label>
    <input type="text" name="existencia" required><br>
    <label for="precio">Precio:</label>
    <input type="text" name="precio" required><br>
    <button type="submit">Enviar</button>
</form>
</div>
</body>
</html>
